## Name: Nguyen Minh Huy Duong

### Assignment 2

In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Importing the dataset
dataset = pd.read_csv('cluster_data1.csv')
dataset.head()

    X1   X2   X3   X4
0  6.7  3.0  5.0  1.7
1  6.3  2.9  5.6  1.8
2  5.6  3.0  4.5  1.5
3  7.6  3.0  6.6  2.1
4  6.0  3.4  4.5  1.6